@import url('global.css');
@import url('details.css');

.block__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.block__card {
    position: relative;
}

.block__card h3 {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #000;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}